<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings />
	<connectionStrings />

	<system.web>
		<!-- Bật debug -->
		<compilation debug="true" />

		<!-- Không yêu cầu đăng nhập -->
		<authentication mode="None" />

		<!-- Tắt custom error (để hiển thị lỗi chi tiết khi debug) -->
		<customErrors mode="Off" />
	</system.web>
</configuration>
